@charset 'UTF-8';
.fancybox-enabled{
    overflow: hidden;
}

.fancybox-enabled body{
    overflow: visible;

    height: 100%;
}

.fancybox-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99993;

    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container{
    z-index: 99992;
}

.fancybox-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0;
    background: #0f0f11;

    transition-timing-function: cubic-bezier(.55, .06, .68, .19);

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.fancybox-container--ready .fancybox-bg{
    opacity: .87;

    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.fancybox-controls{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99994;

    opacity: 0;

    text-align: center;
    pointer-events: none;
    transition: opacity .2s;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    direction: ltr;
}

.fancybox-show-controls .fancybox-controls{
    opacity: 1;
}

.fancybox-infobar{
    display: none;
}

.fancybox-show-infobar .fancybox-infobar{
    display: inline-block;

    pointer-events: all;
}

.fancybox-infobar__body{
    display: inline-block;

    width: 70px;

    color: #ddd;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 44px;

    background-color: rgba(30, 30, 30, .7);

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    text-align: center;
    pointer-events: none;

    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-buttons{
    position: absolute;
    top: 0;
    right: 0;

    display: none;

    pointer-events: all;
}

.fancybox-show-buttons .fancybox-buttons{
    display: block;
}

.fancybox-slider-wrap{
    overflow: hidden;

    direction: ltr;
}

.fancybox-slider-wrap,
.fancybox-slider{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99993;

    margin: 0;
    padding: 0;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.fancybox-slide{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99994;

    overflow: auto;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;

    text-align: center;
    white-space: normal;

    -webkit-overflow-scrolling: touch;
}

.fancybox-slide::before{
    display: inline-block;
    vertical-align: middle;

    width: 0;
    height: 100%;

    content: '';
}

.fancybox-slide > *{
    position: relative;

    display: inline-block;
    vertical-align: middle;
    overflow: auto;

    box-sizing: border-box;
    margin: 44px 0 44px;
    padding: 24px;

    border-width: 0;
    background-color: #fff;

    text-align: left;
}

.fancybox-slide--image{
    overflow: hidden;
}

.fancybox-slide--image::before{
    display: none;
}

.fancybox-content{
    position: relative;

    display: inline-block;
    vertical-align: middle;

    width: 80%;
    height: calc(100% - 88px);

    box-sizing: border-box;
    margin: 44px auto;
    padding: 0;

    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: normal;

    border: 0;
    outline: none;

    text-align: left;
    white-space: normal;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
}

.fancybox-iframe{
    display: block;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    border: 0;
    background: #fff;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe{
    background: transparent;
}

.fancybox-placeholder{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99995;

    overflow: visible;

    margin: 0;
    padding: 0;

    border: 0;
    background: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    cursor: default;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.fancybox-image,
.fancybox-spaceball{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    max-width: none;
    height: 100%;
    max-height: none;

    margin: 0;
    padding: 0;

    border: 0;
    background: transparent;
    background-size: 100% 100%;
}

.fancybox-controls--canzoomOut .fancybox-placeholder{
    cursor: -webkit-zoom-out;
    cursor:         zoom-out;
}

.fancybox-controls--canzoomIn .fancybox-placeholder{
    cursor: -webkit-zoom-in;
    cursor:         zoom-in;
}

.fancybox-controls--canGrab .fancybox-placeholder{
    cursor: -webkit-grab;
    cursor:         grab;
}

.fancybox-controls--isGrabbing .fancybox-placeholder{
    cursor: -webkit-grabbing;
    cursor:         grabbing;
}

.fancybox-spaceball{
    z-index: 1;
}

.fancybox-tmp{
    position: absolute;
    top: -9999px;
    left: -9999px;

    visibility: hidden;
}

.fancybox-error{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 380px;
    max-width: 100%;

    margin: 0;
    padding: 40px;

    background: #fff;

    cursor: default;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.fancybox-error p{
    margin: 0;
    padding: 0;

    color: #444;
    font: 16px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.fancybox-close-small{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

    width: 30px;
    height: 29px;

    margin: 0;
    padding: 0;

    border: 0;
    border-radius: 0;
    outline: none;
    background: url(../images/ic_close.png) 0 0 no-repeat;

    cursor: pointer;
}
.fancybox-slide--video .fancybox-close-small{
    top: -36px;
    right: -36px;

    background: transparent;
}

.fancybox-close-small:hover{
    background-position: 0 -29px;
}

.fancybox-close-small:active{
    background-position: 0 100%;
}


/* Caption */
.fancybox-caption-wrap{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;

    box-sizing: border-box;
    padding: 60px 30px 0 30px;

    opacity: 0;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .1) 20%, rgba(0, 0, 0, .2) 40%, rgba(0, 0, 0, .6) 80%, rgba(0, 0, 0, .8) 100%);

    pointer-events: none;
    transition: opacity .2s;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.fancybox-show-caption .fancybox-caption-wrap{
    opacity: 1;
}

.fancybox-caption{
    padding: 30px 0;

    color: #fff;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;

    border-top: 1px solid rgba(255, 255, 255, .4);

    -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button{
    pointer-events: all;
}

.fancybox-caption a{
    color: #fff;

    text-decoration: underline;
}

/* Buttons */
.fancybox-button{
    position: relative;

    display: inline-block;
    vertical-align: top;

    width: 44px;
    height: 44px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #fff;
    line-height: 44px;

    border: 0;
    border-radius: 0;
    outline: none;
    background: transparent;

    cursor: pointer;
}

.fancybox-button--disabled{
    cursor: default;
    pointer-events: none;
}

.fancybox-infobar__body,
.fancybox-button{
    background: rgba(30, 30, 30, .6);
}

.fancybox-button:hover{
    background: rgba(0, 0, 0, .8);
}

.fancybox-button::before,
.fancybox-button::after{
    position: absolute;

    display: inline-block;

    box-sizing: border-box;

    color: currentColor;

    opacity: .9;
    border-color: #fff;
    background-color: currentColor;

    content: '';
    pointer-events: none;
}

.fancybox-button--disabled::before,
.fancybox-button--disabled::after{
    opacity: .5;
}

.fancybox-button--left::after{
    top: 18px;
    left: 20px;

    width: 6px;
    height: 6px;

    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    background: transparent;

    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
}

.fancybox-button--right::after{
    top: 18px;
    right: 20px;

    width: 6px;
    height: 6px;

    border-top: solid 2px currentColor;
    border-right: solid 2px currentColor;
    background: transparent;

    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.fancybox-button--left{
    border-bottom-left-radius: 5px;
}

.fancybox-button--right{
    border-bottom-right-radius: 5px;
}

.fancybox-button--close{
    float: right;
}

.fancybox-button--close::before,
.fancybox-button--close::after{
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 8px);

    display: inline-block;

    width: 16px;
    height: 2px;

    content: '';
}

.fancybox-button--close::before{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.fancybox-button--close::after{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* Loading spinner */
.fancybox-loading{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;

    width: 50px;
    height: 50px;

    margin-top: -25px;
    margin-left: -25px;

    border: 6px solid rgba(100, 100, 100, .4);
    border-top: 6px solid rgba(255, 255, 255, .6);
    border-radius: 100%;
    background: transparent;

    -webkit-animation: fancybox-rotate .8s infinite linear;
            animation: fancybox-rotate .8s infinite linear;
}

@-webkit-keyframes fancybox-rotate{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

@keyframes fancybox-rotate{
    from{
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(359deg);
                transform: rotate(359deg);
    }
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px){
    .fancybox-controls{
        text-align: left;
    }
    .fancybox-button--left,
    .fancybox-button--right,
    .fancybox-buttons button:not(.fancybox-button--close){
        display: none !important;
    }
    .fancybox-caption{
        margin: 0;
        padding: 20px 0;
    }
}

/* Fullscreen  */
.fancybox-button--fullscreen::before{
    top: 16px;
    left: 15px;

    width: 15px;
    height: 11px;

    border: 2px solid;
    background: none;
}

/* Slideshow button */
.fancybox-button--play::before{
    top: 16px;
    left: 18px;

    width: 0;
    height: 0;

    border-top: 6px inset transparent;
    border-bottom: 6px inset transparent;
    border-left: 10px solid;
    border-radius: 1px;
    background: transparent;
}

.fancybox-button--pause::before{
    top: 16px;
    left: 18px;

    width: 7px;
    height: 11px;

    border-width: 0 2px 0 2px;
    border-style: solid;
    background: transparent;
}

/* Thumbs */
.fancybox-button--thumbs span{
    font-size: 23px;
}

.fancybox-button--thumbs::before{
    top: 20px;
    left: 21px;

    width: 3px;
    height: 3px;

    box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
}

.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap,
.fancybox-container--thumbs .fancybox-caption-wrap{
    right: 220px;
}

.fancybox-thumbs{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    z-index: 99993;

    width: 220px;

    box-sizing: border-box;
    margin: 0;
    padding: 5px 5px 0 0;

    background: #fff;

    word-break: normal;

    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

.fancybox-thumbs > ul{
    position: absolute;
    position: relative;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    font-size: 0;

    list-style: none;
}

.fancybox-thumbs > ul > li{
    position: relative;

    float: left;
    overflow: hidden;

    width: 105px;
    max-width: 50%;
    height: 75px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: 5px solid #fff;
    border-top-width: 0;
    border-right-width: 0;
    outline: none;

    cursor: pointer;

    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

li.fancybox-thumbs-loading{
    background: rgba(0, 0, 0, .1);
}

.fancybox-thumbs > ul > li > img{
    position: absolute;
    top: 0;
    left: 0;

    min-width: 100%;
    max-width: none;
    min-height: 100%;
    max-height: none;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
}

.fancybox-thumbs > ul > li:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99991;

    opacity: 0;
    border: 4px solid #4ea7f9;
    border-radius: 2px;

    content: '';
    transition: all .2s cubic-bezier(.25, .46, .45, .94);
}

.fancybox-thumbs > ul > li.fancybox-thumbs-active:before{
    opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px){
    .fancybox-thumbs{
        display: none !important;
    }
    .fancybox-container--thumbs .fancybox-controls,
    .fancybox-container--thumbs .fancybox-slider-wrap,
    .fancybox-container--thumbs .fancybox-caption-wrap{
        right: 0;
    }
}
